%% -*- coding: utf-8 -*-

{<<"电子"/utf8>>, [<<"ipad">>,<<"iphone">>,<<"显示器"/utf8>>,<<"笔记本电脑"/utf8>>,<<"键盘"/utf8>>]}.
{<<"食品"/utf8>>, [<<"面包"/utf8>>,<<"饼干"/utf8>>,<<"蛋糕"/utf8>>,<<"牛肉"/utf8>>,<<"鱼"/utf8>>, <<"蔬菜"/utf8>>]}.
{<<"日用品"/utf8>>, [<<"餐巾纸"/utf8>>,<<"收纳箱"/utf8>>,<<"咖啡杯"/utf8>>,<<"雨伞"/utf8>>]}.
{<<"酒类"/utf8>>, [<<"啤酒"/utf8>>,<<"白酒"/utf8>>,<<"伏特加"/utf8>>]}.

