{lib_dirs, []}.
{erl_first_files, []}.
{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
	{getopt, "", {git, "https://github.com/jcomellas/getopt.git",{branch, "master"}}}
]}.
%%{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.

{escript_name,"ShoppingCart"}.
{escript_incl_apps, [getopt]}.
{escript_emu_args, "%%!   \n"}.